@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype-variations');
  font-weight: 100 700;
  font-style:normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(15, 15, 16);
  color: white; 
  font-family: 'Roboto', sans-serif;
  letter-spacing:1.5px;

}

header{
  display: flex;
  width: auto;
  height:auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-image: linear-gradient(to right, 
  rgb(13, 15, 27), rgb(17, 19, 36));
  border: 0.5px solid rgba(52, 104, 193, 0.7);
  font-family: 'Roboto Slab';
  font-weight: 500;
  font-size:24px;

}

nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-size:14px;
  color: rgba(198, 198, 198, 1); 
  padding: 0 1rem;
}

nav a:hover{
  color:white;
}

.brand-container {
  display: flex;
  align-items: center;
   
    
}

.logo {
  width: 30px;        
  height: auto;       
  object-fit: contain;
  margin:15px;
}

.menu {
  display: none;

}

.about-home {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.about-home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: blur(2px);
  opacity: 50%;
}

.about-banner {
  display: flex;
  justify-content: center;
  align-items:center;
  background-image: linear-gradient(to right,
  rgb(13, 15, 27), rgb(17, 19, 36));
  border: 0.5px solid rgba(52, 104, 193, 0.7);
  padding: 40px;
}

.about-text {
  display:flex;
  width: 100%;
  min-height: 50vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:3em;
  padding:3em;
}

h1 {
    font-size: 3.75rem; 
    font-weight: 700;
    padding:1.25rem;
}

h2 {
    font-size:1.75rem;
    font-weight: lighter;
    padding:5px;
}
/*story*/
section h2 {
  display: flex;
  margin-top:5rem;
  margin-bottom:3rem;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: bold;
  font-family:'Roboto Slab';
  padding:0;
}

.story-section {
  display:flex;
  justify-content: center;
  margin:1.5rem 2rem;
  padding:1.5rem;
  font-size: 1.25;
}

.story-p {
  font-size:20px;
  font-weight:200;
  margin:0;
  padding:0;
}

.story-p p {
  padding:20px;
}

.story-p p:last-child{
  font-weight:bold;
}

/*mission*/
.mission-section{
  display:flex;
  gap:1rem;
  margin-top: 3rem;
}

.mission-1 {
  margin: 40px 0 40px 40px;
  width: 600px;
  height:400px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
  filter: brightness(0.8);
}

.mission-p {
  flex: 1 1;
  min-width: 500px;
  margin-top:1.5rem;
  margin-right: 1rem;
  padding: 12px;
  font-size: 20px;
  font-weight: 200;
}

.mission-p p {
  margin-bottom: 1.5rem;
}

.mission-p p:nth-child(3){  
  font-weight:bold;
}

.mission-p p:last-child {
  margin-bottom: 0;
}

.mission-section2{
  display:flex;
  gap:1rem;
  margin-top:6rem;
  margin-bottom:12rem;
  align-items: flex-start;
}

img.mission-2{
  margin-left: auto;
  margin-right: 40px;
  width: 600px;
  height:400px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
  filter: brightness(0.8);
}

.mission-p2 {
  flex: 1;               
  max-width: 600px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 200;
}

.mission-p2 p {
  margin-bottom: 1.5rem;
}

.mission-p2 p:nth-child(4){
  font-weight:bold;
}

.mission-p2 p:last-child {
  margin-bottom: 0;
}
/*services*/
.services{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;    
  justify-items: center;
  font-family:'Roboto Slab';
  font-size:20px;
  margin:5rem 1rem;
  font-weight:200;
  padding:0;
}

.wrapper-color{
  background-color: rgba(23, 24, 51, 1);
  margin-top:5rem;
  padding:1rem;
}

.services > div {
  text-align: left; 
}

.services h3 {
  font-size:24px;
  margin-top: 0; 
  margin-bottom: 20px; 
  color: rgb(177, 200, 239);
}

.services ul {
  display: inline-block; 
  text-align: left;     
  margin-bottom:3rem;
}

/*why-us*/
.why-us {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding:5rem 0;
  margin:auto;
}

.why-us img{
  width:120px;
  height:120px;
  transition: transform 2.5s ease, filter 2.5s ease;
  filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0));
}

.w-container{
  margin: 10rem 0;
  text-align: center;
}

.w-wrapper{
  transition: transform 0.5s ease;
}

.w-wrapper:hover{
  transform: translateY(-10px); 
}

.w-wrapper img:hover {
  filter: drop-shadow(0 0 10px rgba(252, 239, 192, 0.802));
}

.w-wrapper p{
  font-size:24px;
  font-weight:400;
  font-family:'Roboto Slab';
  padding:10px 0;
  margin:0;
}

/*cta*/
.cta-text{
  text-align: center;
  font-size:2rem;
  font-family:'Roboto slab';
  font-weight: bold;
  margin-bottom:12rem;
}

.cta-text a{
  color:white;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  transition: color 0.5s ease, text-decoration-color 0.5s ease;
}

.cta-text .link1:hover{
  color: rgb(177, 200, 239);
}

.cta-text .link2:hover{
  color:rgb(252, 239, 192);
}

/*footer*/
.footer {
  background-color: rgba(23, 24, 51, 1);
  min-height: 320spx;
  padding: 30px 20px;
  margin-top: 100px;

}

.content {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 0;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.brand-header {
  display: flex;
  align-items: center;
  gap: 2px; 
}

.footer h4{
  font-family:'Roboto Slab';
  font-size:20px;
}
.footer-brand p {
  color: rgb(161, 182, 218);
  padding-left:20px;
  font-size:16px;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  list-style: none;
  gap: 50px;
  padding: 30px;
  margin:0;
  
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-links a {
  color: rgb(161, 182, 218);
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
}

.wrapper{
  padding-top: 10px;
}

.socials-container {
  display: flex;
  gap: 10px; 
  padding: 20px;
}
.socials {
  display:inline-block;
  width: 30px;
  height: 30px; 
}

/*animations section*/
.animate-up {
  opacity: 0;
  animation: slideup 1.5s ease forwards;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*dimensions*/
 @media (max-width: 768px) {
   /*header*/
  header {
    position: relative;
    font-size: 16px;
  }

  .menu {
    display: block;
    background-color: transparent;
    border-color: transparent;
    color: rgba(198, 198, 198, 1);
    margin-left: auto;
    font-family: 'Roboto Slab';
    font-size: 32px;
    cursor: pointer;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(13, 15, 27);
    border-bottom: 1px solid rgba(52, 104, 193, 0.7);
    z-index: 1000;
  }

  nav.active {
    display: block;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    text-align: center;
  }

  nav a {
    display: block; 
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .logo {
    height:auto;
  }
  
  /*footer*/
   .footer{
    font-size:10px;
   }

   .footer-brand p {
    font-size:12px;
   }
   .footer h4{
    font-size:16px;
   }

   .socials{
    width:20px;
    height: 20px;
   } 
 }
