.hero {
  outline: none;
  -webkit-tap-highlight-color: transparent; /*for mobile*/
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.hero img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: blur(2px);
  opacity: 70%;
}

.hero-text {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  text-align: left;            
  width: 100%;   
  padding: 0 40px;    
}

.banner {
  display: flex;
  background-color: rgba(23, 24, 51, 1);
  padding: 40px;
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: lighter;
}

/*slider*/
.dots{ 
  position:absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  z-index: 2;
}

.dot{
  width:15px;
  height:15px;
  background:none;
  border-radius: 100%;
  border-style: none;
  background-color:rgba(255, 255, 255, 0.5);
}

.dot.active {
  background: white;
}

.track {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1.5s ease;
}

.slides {
  position: relative;
  height: 100%;
  flex: 0 0 100%;   
  min-width: 100%;
}

/*section*/
section {
  margin-top:4rem;
  padding:40px;
}

section h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family:'Roboto Slab';
  letter-spacing: 3px;
}

section h3 {
  font-size: 1.5rem;
  font-weight: 400; 
  margin: 1em 0;
  color:rgb(252, 239, 192);
} 

section h4{
  font-size:clamp(24px, calc(10.667px + 1.111vw), 32px);
  white-space: nowrap;
  margin: 20px 0;
  font-weight:bold;
}

section h5{
  font-size: clamp(16px, calc(2.667px + 1.111vw), 24px);
}
section p{
  margin-top: 20px;
  font-size: clamp(16px, calc(2.667px + 1.111vw), 24px);
  font-weight: 300;
  line-height: 1.5;
}

/*cards grid*/
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(20px, calc(-10px + 2.5vw), 38px);
  padding:0;
}

.card-grid img:not(.location-icon) {
  width: 100%;
  aspect-ratio: 4 / 3;
  height: auto;
  flex-shrink: 0;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.card-item {
  position: relative;
  overflow: hidden;
  display: flex;        
  flex-direction: column;
  background:rgba(62, 62, 62, 0.426);
  width: 100%;
  border-radius: 10px;
  border:0.8px solid rgba(255, 255, 255, 0.5);
}

.card-item img:not(img.location-icon){
  transition: transform 0.4s ease;
}

.card-item img:hover:not(img.location-icon){
  transform: scale(1.1);
}

.card-text {
  padding:20px; 
  z-index: 2; 
  flex-wrap: nowrap;
}

.text-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap:5px;
}

img.location-icon {
  width: clamp(24px, calc(10.667px + 1.111vw), 32px);
  height: clamp(24px, calc(10.667px + 1.111vh), 32px);
  border:none;
}

.card-button{
  width: fit-content;
  height:auto;
  display: flex;
  justify-content: center;
  margin:20px;
  background-color: rgb(19, 20, 59);
  border: 1px solid rgb(121, 156, 217, 0.8);
  border-radius: 5px;
  transition: all 0.5s ease;
  padding:10px;
  margin-top: auto;
}

.card-button:hover {
  background-color: rgb(121, 156, 217, 0.8);
}

a.card-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size:1rem;
  white-space: nowrap;
}
/*events*/
.events h2{
  display: flex;
  justify-content: center;
}

.events-box {
  display: flex;
  flex-direction: column;
  background:rgba(62, 62, 62, 0.426);
  padding: 20px;
  border-radius: 10px;
  margin: 5rem 0;
  border:0.8px solid rgba(255, 255, 255, 0.5);
}

.row {
  display: flex;
  align-items: center;        
  justify-content: space-between;
  padding: 1.25rem 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);   
}

.row:last-child {
  border-bottom: none;
}

.left {
  display: flex;
  align-items: center;
  flex: 0 0 clamp(220px, 25%, 320px);
  gap: clamp(20px, calc(13.333px + 0.556vw), 24px);                                  
}

.date {
  font-size:1.5rem;
  font-weight: bold;
}

img.event-svg {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.text {
  display: block;
  flex: 1; 
  font-size: clamp(24px, calc(10.667px + 1.111vw), 32px);
  font-weight: bold;
  line-height: 2;
}

.text small {
  display: block; 
  font-size: clamp(16px, calc(2.667px + 1.111vw), 24px);
  font-weight: 300;
}

img.event-img {
  flex-shrink: 0; 
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border:0.8px solid rgba(255, 255, 255, 0.5);
}

/*media*/

@media (max-width: 1000px) {
  .hero {
    max-height:1200px;
  }

  h1{
    font-size:36px;
  }

  h2 {
    font-size:1.25rem;
  }
  
  section {
    margin-top: 2rem;
  }

  section h2 {
    font-size:2rem;
    padding:0;
    margin:0;
  }

  section h3{
    font-size:1.25rem;
  }
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .events-box {
    margin: 2.5rem 0;
  }

  .left {
    flex: 0 0 200px;
  }

  img.event-img {
    width: 220px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  section h4,
  a.card-button {
    white-space: normal;
  }

  .hero {
    height: 90vh;
  }

  section {
    margin-top: 1rem;
  }

  .card-grid {
    grid-template-columns: repeat(1, 1fr);
    gap:40px;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
  }
  
  img.event-img {
    width: 100%;
    height: 180px;
  }

}
@media (max-width: 480px) {
  .hero {
    height: 70vh;
  }

  section h2{
    font-size:1.5rem;
  }

  section h3{
    font-size:1rem;
    margin-bottom:1em; 
  }

  .left {
  display: flex;
  align-items: center;
  }

  .text {
    font-size: 1.25rem;
  }
  .text small {
    font-size: 1rem;
  }

  img.event-svg {
    width: 50px;
    height: 50px;
  }
}