@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype-variations');
  font-weight: 100 700;
  font-style:normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(15, 15, 16);
  color: white; 
  font-family: 'Roboto', sans-serif;
  letter-spacing:1.5px;
}

header {
  display: flex;
  width: auto;
  height:auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(23, 24, 51, 1);
  font-family: 'Roboto Slab';
  font-weight: 500;
  white-space: nowrap;

}

.site-title{
  text-decoration: none;
  color:white;
  font-size:24px;
}

nav ul {
  font-weight: bold;
  display: flex;
  list-style: none;
  gap:1rem;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  font-size:1rem;
  color: rgba(198, 198, 198, 1); 
  padding: 0 1rem;
}

nav a:hover {
  color:rgb(255, 245, 209);
}

.brand-container {
  display: flex;
  align-items: center;  
  margin:10px;
  gap:1rem;
}

.logo {
  width: 40px;        
  height: auto;       
  object-fit: contain;
}

.menu {
  display: none;
}

.close {
  display:none;
}

/*footer*/
.footer {
  background-color: rgba(23, 24, 51, 1);
  min-height: 320px;
  padding: 30px 20px;
}

.content {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 0;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.brand-header {
  display: flex;
  padding-left:20px;
  align-items: center;
  gap:1rem; 
} 

.brand-header img{
  width:30px;
  height:auto;
}

.footer h4 {
  font-family:'Roboto Slab';
  font-size:20px;
}

.footer-brand p {
  color: rgb(161, 182, 218);
  padding-left:20px;
  padding-top:20px;
  font-size:16px;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  list-style: none;
  gap: 50px;
  padding: 30px;
  margin:0;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-links a {
  color: rgb(161, 182, 218);
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5;
}

.footer-links a:hover {
  color: white;
}

.wrapper {
  padding-top: 10px;
  list-style: none;
}

.socials-container {
  display: flex;
  gap: 10px; 
  padding: 20px;
}
.socials {
  display:inline-block;
  width: 35px;
  height: 35px; 
  cursor: pointer;
}

/*dimensions*/
 @media (max-width: 768px) { 

  body.no-scroll {
  overflow: hidden;
  }

  body.no-scroll::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    min-width: 250px;
    height: 100vh;
    background-color: rgb(13, 15, 27);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
  }

  nav.active {
    transform: translateX(0);
  }

   nav.active button.close {
    opacity: 1;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding-top:2rem;
    width: 100%;
  }

  nav ul li {
    text-align: center;
  }
  
  /*
  nav ul li::after {
  content: "";
  display: block;
  width: 60%;
  margin: 0.5rem auto 0;
  border-bottom: 0.5px solid rgba(161, 182, 218, 0.5);
  }
  */
  nav a {
    display: inline-block; 
    padding:1rem;
  }

  .menu {
    display: block;
    background:none;
    border:none;
    color: rgba(198, 198, 198, 1);
    margin-left: auto;
    font-family: 'Roboto Slab';
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
  }

  .menu:hover {
    color:white;
    transition:0.5s ease-in-out;
  }

  button.close{
    display:block;
    position: absolute;
    background:none;
    font-size:2.5rem;
    right:0;
    padding:0 20px;
    border:none;
    color: rgba(198, 198, 198, 1); 
    opacity: 0;
    cursor: pointer;
    transition:0.5s;
  }

  button.close:hover{
    color:white;
    transition:0.5s ease-in-out;
  }
  
  .colorB { 
    position: relative;
    background-color: rgba(23, 24, 51, 1);
    width: 100%;
    height: 3rem;
  }
  .logo {
    width:30px;
    height:auto;
  }

  h2 {
    font-size: 28px;
  }

  .footer{
    font-size:16px;
  }
   
  .socials{
    width:20px;
    height: 20px;
  } 
 }

 @media (max-width: 480px) {
  html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .footer-links {
    gap:30px;
    font-size:12px;
  }

  .footer-links h4{
    font-size:16px;
  }

  .footer-brand p{
    font-size:12px;
  }
}