.home {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  z-index: 0;
}

.home img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: blur(2px);
  opacity: 40%;
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  text-align: left;            
  width: 100%;   
  padding: 0 40px; 
  z-index: 2;   
}

.banner {
  justify-content: center;
  text-align: center;
}

.banner h3 {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}
/*destionations section*/
.destinations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(20px, calc(-10px + 2.5vw), 38px);
  padding:0;
}

.destinations-grid img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.card-item {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.card-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
  pointer-events: none;
}

.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2; 
  font-weight: 500;
}

.card-text h4 {
  font-size:1.5rem;
  text-align:left;
  color:white;
}

.card-text a {
  font-weight:300;
  color: white;
  text-decoration: none;
  font-size:20px;
  text-align:left;
}

.card-item {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  opacity: 1;
}

.card-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.card-item img:hover{
  opacity: 0.40;
}

/*trip section*/
.trip-section {
  display: flex;
  flex-wrap: wrap;
  flex-grow:1;
  flex-shrink: 0;
  gap:1rem;
}

.tripimg {
  display: block;
  margin: 0 0 40px 0;
  max-width: 1200px;
  height:420px;
  object-fit: cover;
  flex-grow:1;
  flex-shrink: 0;
  border-radius: 10px;
}

.trip-p {
  flex: 1 1;
  min-width: 500px;
  flex-basis:500px; 
  flex-shrink: 0; 
}

.trip-p p {
  margin-bottom: 1.5rem;
  font-size: clamp(16px, 1vw, 22px);
}

.trip-p p:last-child {
  margin-bottom: 0;
}

/*what we offer section*/
.wwf {
  background-color: rgba(23, 24, 51, 1);
}

.wwf-title {
  text-align: center;
  margin-bottom:6rem;
}

.wwf-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 3rem;
  margin: 0 auto;
  align-items: center;
}

.wwf-icons {
  display: flex;
  flex-direction: column;
  gap:clamp(60px, calc(-6.667px + 5.556vw), 100px);
}

.wwf-item {
  display: flex;
  align-items: center;  
  gap: 20px;
}

.wwf-item img,
.wwf-item svg {
  width: 60px;
  height: 60px;
  flex-shrink: 0; 
  object-fit: contain;
}

.wwf-text {
  display: flex;
  flex-direction: column;
  text-align: left;   
}

.wwf h5 {
  font-size: 20px;
  margin: 0 0 12px 0;
}

.wwf p {
  color: rgb(161, 182, 218);
  margin: 0;
}

.wwf-img {
  display: flex;
  height: 100%;
  width: 100%;
}

.wwf-img img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
/*reviews section*/
.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: clamp(20px, calc(-10px + 2.5vw), 38px);
}

.review-card {
  display: flex;
  flex-direction: column;
  width:100%;
  min-height:500px;
  background-color: rgba(62, 62, 62, 0.426);
  padding:20px;
  font-weight:bold;
  border-radius: 10px;
  gap: 20px;
}

.review-card h4 {
  font-size: clamp(18px, 1.25vw, 24px);
  font-weight: bold;
  height: calc(1.5em * 2);
  margin: 0;
}
.review-card p {
  flex: 1 1;
  margin:0;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.8);
}

.author {
  font-size: clamp(16px, 1.11vw, 22px);
}

.review-card p:last-child{
  font-weight:bold;
  color: white;
}

.date {
  margin-top: auto;
  padding:0;
}

.stars {
  color: rgba(255, 206, 73, 0.838);
}
/*dimensions*/
 @media (max-width: 768px) {
  .home {
    max-height: 900px;
  }

  /*destinations section*/
  .destinations-section{
    margin-bottom: 0;
    padding-bottom:0;
  }

  .destinations-grid {
    grid-template-columns: repeat(1, 1fr); 

  }

  .destinations-grid img {
    max-height: 250px;
  }

  .card-text h4 {
    font-size:1.25rem;
  }

  .card-text a {
    font-size:1rem;
  }

  /*trip section*/
  .trip-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:100%;
  }

  .tripimg {
    width: 100%;       
    height: auto;  
    min-height:200px;
    max-height:300px;
    padding:0;
  }
  
  .trip-p{
    margin:0;
    min-width:0;     
    width: 100%;       
  }

  /*wwf-section*/
  .wwf {
    padding:1rem 0;
    margin:0;
  }

  .wwf-title {
    padding-top:2rem;
    margin-bottom:2rem;
  }

  .wwf-content {
    display:flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap:0px;
    margin: 40px auto;
  }

  .wwf-icons {
    display: contents; 
  }

  .wwf-icons img{
    max-width:50px;
    margin: 0 auto 10px auto;
  }

  .wwf-item {
    display: flex;              
    align-items: center;  
    justify-content: center;      
    flex-direction: column;
    flex: 0 1 calc(100% / 3);
    max-width: calc(100% / 3);
    min-width: 0;
    padding:10px;
    gap:0px;
  }

  .wwf-text {
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  .wwf p {
    font-size: 14px;
    min-width: 0;
  }

  .wwf-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .wwf-img img {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }

  /*reviews*/
  .reviews-grid {
    display: grid;
    grid-template-columns: 1fr;
    height:auto; 
  }

  .review-card {
    min-height: auto;   
  }

  .review-card p {
    flex:0;
  }
}

 @media (max-width: 480px) {
  .home{
    max-height: 700px;
  }

  .wwf h5, .wwf p{
    font-size:12px;
  }
  .wwf-icons{
    max-width: 40px;
  }
}